# please sort alphabetically to avoid duplicates
aiohttp~=3.10.2
anthropic==0.28.0
bittensor==7.4.0
boto3==1.34.126
docplex==2.27.239
generativeai==0.0.1
gnews==0.3.7
google-generativeai==0.7.2
gql==3.5.0
loguru==0.7.2
lxml_html_clean==0.1.1
newscatcherapi==0.7.2
newspaper4k==0.9.3.1
numpy~=1.26
openai==1.6.1
pandas==2.2.2
pydantic==2.9.2
scikit-learn==1.5.0
selectolax==0.3.21
tiktoken==0.7.0
torch==2.3.0
wandb==0.17.0
websockets==14.1
