# please sort alphabetically to avoid duplicates
--extra-index-url https://download.pytorch.org/whl/cpu
aiohttp~=3.10.2
aiosqlite==0.20.0
alembic==1.14.1
anthropic==0.28.0
backoff==2.2.1
bittensor-cli==9.4.0
bittensor==9.4.0
fastapi==0.110.3
forecasting-tools==0.2.12
gnews==0.3.7
numpy~=2.0.1
pandas==2.2.2
pydantic==2.9.2
scikit-learn==1.5.2
slowapi==0.1.9
sqlalchemy==2.0.37
torch==2.3.1+cpu
uvicorn==0.34.0
websockets==14.1
openai>=0.27.0
requests>=2.28.0
python-dotenv>=1.0.0

